<ion-view title="Catalogo">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <ion-list ng-controller="catalogoCtrl as catalogo">

            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>


            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Bud Light</h2>
                <p>Item</p>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>