<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="HIstorias" icon="ion-person-stalker" href="#/page1/history">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Envia" icon="ion-android-send" href="#/page1/page3">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Catalago" icon="ion-beer" href="#/page1/page4">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Ajustes" icon="ion-ios-settings-strong">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>